# Maven
target/

# Eclipse
.classpath
.project
.settings

# Intellij
*.iml
.idea/

# Terraform
.terraform/.terraform/
.terraform/plugins/
.terraform/providers/
.terraform/plugin_path
*.lock.hcl
*.tfstate
*.tfstate.backup

# python utilities
*.pyc
__pycache__

.flattened-pom.xml
